################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AIProject/obj/Debug
/AIProject/bin/Debug
/Server/bin/Debug/netcoreapp2.0
/Server/obj
/ServerAPI/bin/Debug/netcoreapp2.0
/ServerAPI/Migrations
/ServerAPI/obj
/.vs/AIProject/v15/Server/sqlite3
/Server/Files
/.vs
/AIProject/packages/Json110r2.zip
/AIProject/packages/Json110r2/Source
/AIProject/packages/Json110r2/license.txt
/AIProject/packages/Json110r2/readme.txt
/ServerAPI/Files
/ServerAPI/NN
