################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AIProject/obj/Debug
/AIProject/bin/Debug
/Server/bin/Debug/netcoreapp2.0
/Server/obj
/ServerAPI/bin/Debug/netcoreapp2.0
/ServerAPI/Migrations
/ServerAPI/obj
/.vs/AIProject/v15/Server/sqlite3
/Server/Files
